
.ipynb_checkpoints/Capstone_Denver_Neighborhood_Filter-checkpoint.ipynb
.ipynb_checkpoints/Denver Neighborhood Project Experimental-checkpoint.ipynb
.ipynb_checkpoints/Capstone_Denver_Neighborhood_Filter-checkpoint.ipynb
.ipynb_checkpoints/Denver Neighborhood Project Second Draft-checkpoint.ipynb
.ipynb_checkpoints/Capstone_Denver_Neighborhood_Filter-checkpoint.ipynb
.ipynb_checkpoints/Denver Neighborhood Project Experimental-checkpoint.ipynb
